.phpunit.cache
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
vendor
.git
.env
.env.*
.phpactor.json
.phpunit.result.cache
.fleet
.idea
.vscode
.zed
.docker*
docker-compose*
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
node_modules
vendor
tests
*.md